<div class="view-box">
    <div class="modal-box">
        <h1>
            Write A Review
        </h1>

        <div>
           <textarea #ReviewBoxInput class="search-box" cols="50" rows="5" placeholder="Reviews must be 250 characters or less"></textarea>                  
        </div>

        <div>
            <button class="button" routerLink="/user/schedules/{{ schedule_name }}">Cancel</button>
            <button class="button" (click)="addReviewButton(ReviewBoxInput.value)" routerLink="/user/schedules/{{ schedule_name }}">Submit</button>
        </div>        
    </div>
</div>
