<div class="view-box">
    <div class="message-container">
        <h2>Welcome {{ username }}</h2>
        <h1>Your Dashboard</h1>        
        <div class="formdiv">            
            <button class="circle_button" routerLink="/user/schedules">Make Schedule</button>                   
            <button class="circle_button" routerLink="/dashboard/usersettings">Account Settings</button>
            <button class="circle_button" (click)="logOutButton()">Logout</button>
        </div>        
    </div>
</div>
