<div class="view-box">    
    <div class="schedule-manager-container">
        <button id = "homebutton" class="add_schedule_button" routerLink="/landing">Back</button>
        <h1>Policies</h1>

        <div class="review-container">
            <div class="review-box">
                <h3>DMCA Policy</h3>
                <pre>{{ dmca_policy }}</pre>                
            </div>

            <div class="review-box">
                <h3>AUP Policy</h3>
                <pre>{{ aup_policy }}</pre>           
            </div>

            <div class="review-box">
                <h3>Security Policy</h3> 
                <pre>{{ security_policy }}</pre>                           
            </div>
        </div>
               
    </div>    
</div>
