<div class="landing-box">
    <h1>UWO Course Timetable App</h1>


    <div class="button-box">
        <button class="button" routerLink="/login">Log In</button>
        <button class="button" routerLink="">Browse</button>
    </div>

    <div class="tooltip">About
        <span class="tooltiptext">Log in and verify user in order to access full functionalities of this app. Verified users are able to save public as well as private course lists and leave course reviews. Unverified users can also browse courses but are unable to leave reviews and any lists created will be publicly visible.</span>
    </div>
</div>
